.navbar .navbar-brand {
  color: #f8f9fa;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #dee2e6;
}
.navbar .navbar-text {
  color: #f8f9fa;
}
.navbar .navbar-text a {
  color: #dee2e6;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #dee2e6;
}
.navbar .navbar-nav .nav-link {
  color: #f8f9fa;
  border-radius: 0.25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #dee2e6;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #343a40;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #f8f9fa;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #dee2e6;
  background-color: #495057;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #495057;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #dee2e6;
  background-color: #495057;
}
.navbar .navbar-toggle {
  border-color: #495057;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #495057;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #f8f9fa;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #f8f9fa;
}
.navbar .navbar-link {
  color: #f8f9fa;
}
.navbar .navbar-link:hover {
  color: #dee2e6;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f8f9fa;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #dee2e6;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #dee2e6;
    background-color: #495057;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f8f9fa;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #dee2e6;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #dee2e6;
    background-color: #495057;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f8f9fa;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #dee2e6;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #dee2e6;
    background-color: #495057;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f8f9fa;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #dee2e6;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #dee2e6;
    background-color: #495057;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #f8f9fa;
}
.navbar .navbar-brand {
  color: #f8f9fa;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #dee2e6;
}
.navbar .navbar-text {
  color: #f8f9fa;
}
.navbar .navbar-text a {
  color: #dee2e6;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #dee2e6;
}
.navbar .navbar-nav .nav-link {
  color: #f8f9fa;
  border-radius: 0.25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #dee2e6;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #343a40;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #f8f9fa;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #dee2e6;
  background-color: #495057;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #495057;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #dee2e6;
  background-color: #495057;
}
.navbar .navbar-toggle {
  border-color: #495057;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #495057;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #f8f9fa;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #f8f9fa;
}
.navbar .navbar-link {
  color: #f8f9fa;
}
.navbar .navbar-link:hover {
  color: #dee2e6;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f8f9fa;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #dee2e6;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #dee2e6;
    background-color: #495057;
  }
  .top20 th:nth-child(4),
  .top20 th:nth-child(6),
  .top20 th:nth-child(10),
  .top20 td:nth-child(4),
  .top20 td:nth-child(6),
  .top20 td:nth-child(10),
  .topy100 th:last-child,
  .topy100 th:nth-last-child(2),
  .topy100 td:last-child,
  .topy100 td:nth-last-child(2){
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f8f9fa;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #dee2e6;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #dee2e6;
    background-color: #495057;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f8f9fa;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #dee2e6;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #dee2e6;
    background-color: #495057;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f8f9fa;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #dee2e6;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #dee2e6;
    background-color: #495057;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #f8f9fa;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #dee2e6;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #dee2e6;
  background-color: #495057;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #dee2e6;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #dee2e6;
  background-color: #495057;
}

.top20 {
  border: 1px solid #d5d5d5;
  border-collapse: collapse;
  
}
.top20 th {
  border: 1px solid #d5d5d5;
  padding: 15px;
}
.top20 td {
  border: 1px solid #d5d5d5;
  padding: 10px;
}
.top20 td:nth-child(1),
.top20 td:nth-child(2),
.top20 td:nth-child(4),
.top20 td:last-child {
  text-align: center;
}
.top20 td:nth-last-child(2),
.top20 td:nth-last-child(3),
.top20 td:nth-last-child(4),
.top20 td:nth-last-child(5),
.top20 td:nth-child(5) {
  text-align: right;
}

.topy100 {
  border: 1px solid #d5d5d5;
  border-collapse: collapse;
  padding: 20px;
}
.topy100 th {
  border: 1px solid #d5d5d5;
  padding: 15px;
}
.topy100 td {
  border: 1px solid #d5d5d5;
  padding: 10px;
}
.topy100 td:nth-child(1),
.topy100 td:nth-last-child(4), 
.topy100 td:nth-last-child(2),
.topy100 td:nth-last-child(3){
  text-align: center;
}

.topy100 td:nth-child(3),
.topy100 td:nth-child(4),
.topy100 td:last-child{
  text-align: right;
}


.css-table {
  display: table;
  border: 2px solid #d5d5d5;
  margin:0 auto;
  width:95%;
}
.css-table .thead {
  display: table-header-group;
  font-weight:bold;
}
.css-table .tbody {
  display: table-row-group;
}
.css-table .tr {
  display: table-row;
  padding: 10px;
}
.css-table .th,
.css-table .td {
  display: table-cell;
  border-width: 1px;
  border-bottom-style: dotted;
  border-color: #adb5bd ;
  padding: 12px;
  font-size:smaller;
  text-align: center;
}

.datafrom{
    font-size:small;
    display:none;
    margin: 0 auto;
}

.descr{
  font-size:small;
  display:none;
  margin-top:10px;
}


.css-title {
  font-weight: bold;
  text-align: center;
}
